.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
}

.wrapper > form {
  margin: 0 auto;
  position: relative;
  top: -3.5rem;
}

.wrapper > section {
  margin: 0 auto;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}