.container {
  margin-top: 1rem;
  width: 42.2rem;
  height: 5rem;
  font-weight: bold;
  background: var(--gray-500);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconStyles {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1rem;
}

.done {
  color: var(--purple-dark);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.todo {
  color: var(--blue-dark);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.btnTrash {
  background: transparent;
  border: 0;
  color: var(--gray-300)
}